node_modules
bin
designs
redis
Dockerfile
.dockerignore
.gitignore
README.md
db
.vscode
data
queries
reports
tests
tmp
unit-tests
views
.editorconfig
.eslintignore
.eslintrc
.yo-rc.json
docker-compose.yml
nightwatch.json
selenium-debug.log
yarn.lock