.mainContainer {
    overflow: hidden;
    width: calc(100% - 2.5px);
    height: calc(100vh - 212px);
    padding: 0px;
}

.bdcell {
    padding: 12px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    min-width: 30px;
}

.boldLeft {
    border-left: 3px solid #000000 !important;
}

.boldRight {
    border-right: 3px solid #000000 !important;
}

.normal {
    border: 2px solid rgba(255,255,255,0);
    border-radius: 25px;
    height: 30px;
    width: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.circled {
    border: 2px solid #c50000;
    border-radius: 20px;
    border-radius: 25px;
    height: 30px;
    width: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.inactive {
    border: 2px solid rgba(255,255,255,0);
    height: 30px;
    min-width: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin: -10px;
}

.active {
    border: 2px solid #c50000;
    height: 30px;
    min-width: 60px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: white;
    margin: -10px;
}