.refHeader {
    font-size: 18px !important;
    font-weight: normal !important;
}

.vertHeader {
    transform: rotate(-90deg);
    text-align: left !important;
    height: 100px;
    padding-left: 25px;
}

.refValue {
    color: #333;
    font-weight: normal;
}

.refText {
    padding: 8px;
    font-size: 20px;
    border: 2px inset #888;
    border-radius: 5px;
    margin: 5px;
    min-width: 100px;
    background-color: white;
    cursor: pointer;
}

.refNormal {
    border: 2px solid rgba(255,255,255,0);
    border-radius: 25px;
    height: 30px;
    width: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
    cursor: pointer;
}

.refCircled {
    border: 2px solid #c50000;
    border-radius: 20px;
    border-radius: 25px;
    height: 30px;
    width: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
    cursor: pointer;
}
