{
  "db": {
    "name": "db",
    "connector": "memory"
  },
  "hts": {
    "host": "127.0.0.1",
    "port": 3306,
    "url": "mysql://root:root@127.0.0.1/hts_development",
    "database": "hts_development",
    "password": "root",
    "name": "hts_development",
    "user": "root",
    "connector": "mysql"
  }
}