{
  "default": {
    "username": "",
    "password": ""
  },
  "app": {
    "username": "",
    "password": "",
    "application": "",
    "site_code": ""
  },
  "host": "",
  "protocol": "",
  "port": "",
  "use_art": false,
  "use_dde": false,
  "art_settings": {
    "protocol": "",
    "username": "",
    "password": "",
    "host": "",
    "port": "",
    "createPath": "/patient/create_remote",
    "searchPath": "/people/search_remote_people",
    "search_by_id": "/people/demographics_remote?person[patient][identifiers][national_id]=",
    "timeout": 3
  }
}
