{
  "default": {
    "username": "htsuser",
    "password": "password"
  },
  "app": {
    "username": "htsuser",
    "password": "password",
    "application": "HTC",
    "site_code": "MCH"
  },
  "host": "localhost",
  "protocol": "http",
  "port": "3009",
  "use_art": false,
  "use_dde": false,
  "art_settings": {
    "protocol": "",
    "username": "",
    "password": "",
    "host": "",
    "port": "",
    "createPath": "/patient/create_remote",
    "searchPath": "/people/search_remote_people",
    "search_by_id": "/people/demographics_remote?person[patient][identifiers][national_id]=",
    "timeout": 3
  }
}
