{
  "default": {
    "username": "",
    "password": ""
  },
  "app": {
    "username": "",
    "password": "",
    "application": "",
    "site_code": ""
  },
  "host": "",
  "protocol": "",
  "port": ""
}
